<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../static/assets/img/svg/logo.svg" type="image/x-icon">
	<title>500 Number Guessing Game</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../static/css/404.css" />

</head>

<body class="loading">
	<h1>500</h1>
	<h2>Internal server error <a href="/" style="color: black;">Back to home</a><b>:&#40;</b></h2>
	<div class="gears">
	  <div class="gear one">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	  </div>
	  <div class="gear two">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	  </div>
	  <div class="gear three">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	  </div>
	</div>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="../static/javascript/404.js" type="text/javascript"></script>
  </body>

</html>
